#include <zephyr/dt-bindings/ipc_service/static_vrings.h>

/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
		nordic,pm-ext-flash = &mx25r64;
	};

	pwmbuzzer {
		compatible = "pwm-leds";
		status = "okay";

		buzzer: buzzer_pwm {
			pwms = <&pwm1 0 PWM_HZ(100) PWM_POLARITY_NORMAL>;
			label = "buzzer";
		};
	};

	drivers {
		compatible = "gpio-leds";
		driver_water: driver1 {
			gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
			label = "Water valve driver";
		};
		driver_nutri: driver2 {
			gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
			label = "Nutri valve driver";
		};
		driver_fan: driver3 {
			gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
			label = "Fan driver";
		};
		led1: led1 {
			gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
			label = "Growth LED 1";
		};
		led2: led2 {
			gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
			label = "Growth LED 2";
		};
	};

	pwmdrivers: pwmdrivers {
		compatible = "pwm-leds";
		led1_pwm: led1_pwm {
			pwms = <&pwm1 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "LED 1 PWM";
		};

		led2_pwm: led2_pwm {
			pwms = <&pwm1 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "LED 2 PWM";
		};
	};

	zephyr,user {
		io-channels = <&adc 0>, <&adc 1>;
	};

	aliases {
		buzzer-pwm = &buzzer;
		driver-water = &driver_water;
		driver-nutri = &driver_nutri;
		driver-fan = &driver_fan;
		env-sensor = &env_sensor;
		led1-pwm = &led1_pwm;
		led2-pwm = &led2_pwm;
		growth-pwm = &pwm1;
	};
};

&ipc0 {
	zephyr,priority = <0 PRIO_COOP>;
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};

&i2c1 {
	env_sensor: bme688@76 {
		compatible = "bosch,bme688";
		label = "BME688";
		reg = <0x76>;
	};
};

&pinctrl {
	pwm1_default_override: pwm1_default_override {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 15)>,
			        <NRF_PSEL(PWM_OUT1, 0, 8)>,
			        <NRF_PSEL(PWM_OUT2, 0, 9)>;
		};
	};

	pwm1_sleep_override: pwm1_sleep_override {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 15)>,
			        <NRF_PSEL(PWM_OUT1, 0, 8)>,
			        <NRF_PSEL(PWM_OUT2, 0, 9)>;
			low-power-enable;
		};
	};
};

&pwm1 {
	pinctrl-0 = <&pwm1_default_override>;
	pinctrl-1 = <&pwm1_sleep_override>;
	pinctrl-names = "default", "sleep";
};

&uart0 {
	status = "disabled";
	/delete-property/ pinctrl-0;
	/delete-property/ pinctrl-1;
	/delete-property/ pinctrl-names;
};